$pink: #e91e63;
$paper: #efefef;
$clouds: #ecf0f1;
$teal: #009688;
$yellow: #ffeb3b;
$cubic: cubic-bezier(.64,.09,.08,1);

html, body {
  height: 100%;
  width: 100%;
  background: $clouds;
  overflow-x: hidden;
}

h1, h2, p {
  font-family: Roboto, sans-serif;
}
h1{
	font-size: 26px;
  background: $pink;
  color: $paper;
  padding: 40px 0 40px 20%;
  margin-bottom: 50px;
}
.nombre{
font-size: 18px;
}

.curso{
	font-style: italic;
	font-size: 13px;

}
.wrapper{
	width: 650px;
	margin:0 auto;
	box-shadow: 5px 5px 5px #555;
	background: #fff;
	border-radius:15px;
	padding: 10px; 

}
